:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin:0;
  padding: 20px;
  background: var(--secondary);
  color: white;
}

p {
  margin: 20px 0;
}

button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* NAVBAR */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1600px;
  margin: 0 auto;
}

header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}

header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  color: whitesmoke;
}

header nav a.active {
  background: var(--primary);
}

main {
  max-width: 1200px;
  margin: 40px auto;
}